@import "fonts.css";
@import "common.css";

h1 {
    font-family: "LatoBlack", sans-serif;
    font-size: 4.2vw;
    color: #444444;
    margin-left: 2%;

}


.planes h1 {
    text-align: center;
    font-size: 4vw;
    font-family: "LatoBold", sans-serif;
    color: #2980b9;
}
.planes h3 {
    font-size: 2.2vw;
    font-family: "OpenSans", sans-serif;
    color: #4cae4d;
}
.planes .col-xs-4,
.planes .col-xs-8{
    margin-top: 1.5vw;
    /*width: 20vw;*/
}

.planes .col-xs-8 p {
    font-size: 1.2vw;
    font-family: "OpenSans", sans-serif;
    color: #222;
}
.table h4 {
    margin-top: 2%;
    font-size: 2vw;
    color: red;
    font-family: "OpenSansLight", sans-serif;
}

.table .aircraft {
    border-collapse: collapse;
    width: 90%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: "OpenSansLight", sans-serif;
    font-size: 1.5vw;
}
.table .aircraft td:nth-child(2) {
    text-align: right;
}
#embraer190 {
    margin-top: 2%;
}