/* font-family: "ProximaNovaRegular"; */

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;

}

div {
    font-family: 'ProximaNovaRegular';
}

#wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    height: 810px;
    width: 100%;
    background-color: black;
}

#nav {
    width: 100%;
    position: relative;
    height: 74px;
    top: 5px;
    z-index: 2;
}

#nav #menu {
    list-style: none;
    position: absolute;
    right: 4%;
    height: 100%;
}

#nav #menu li {
    display: inline-block;
    padding: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#nav #menu li a {
    text-decoration: none;
    color: snow;
    font-size: 1.4em;
    transition: 0.1s all;
}

#nav #menu li:hover a {
    padding-bottom: 7px;
    border-bottom: 4px solid white;
}


