@import "fonts.css";
@import "common.css";

                                    /*--------------Cover page------------------*/

/*Cover image*/
.container-fluid .row {
    padding: 0;
    position: relative;
}
/*Color overlay*/
.container-fluid .row .color_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34,37,51,0.5);
    width: 100%;
    height: 100%;
}
/*Logo*/
.container-fluid .row .logo {
    position: absolute;
    top: 0;
    left: 2%;
    width: 14vw;
    height: 8vw;
    transition: all ease 0.5s;
}
.container-fluid .row .logo:hover {
   transform: scale(1.2);
    transition: all ease 0.5s;
}
.container-fluid .row .menu {
    position: absolute;
    right: 15%;
    top: 2%;
    z-index: 1;
}
.container-fluid .row .menu li {
    position: relative;
    float: left;
    list-style: none;
    padding: 2vw;
}
.container-fluid .row .menu li:hover > a{
    padding-bottom: 0.8vw;
    border-bottom: 0.2vw solid whitesmoke;
    transition: all ease 0.2s;
}
.container-fluid .row .menu li a{
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-family: "OpenSans","LatoRegular",sans-serif;
}
/*Sub menu*/
.container-fluid .row .menu li .sub_menu {
    position: absolute;
    padding-left: 0;
    margin-top: 0.3vw;
    display: none;
}
.container-fluid .row .menu li .sub_menu li{
    padding: 1.2vw 1vw;
}
.container-fluid .row .menu li:hover .sub_menu {
    display: block;
}

.spring {
    position: absolute;
    top: 32%;
    left: 26%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(225,225,225,0.9);
    font-size: 1.4vw;
    letter-spacing: 0.3em;
    font-family: "OpenSansLight", sans-serif;
}

/*Discount text*/
.discount {
    position:absolute;
    top: 39%;
    left: 10%;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 3.25vw;
    font-family: "LatoBlack", sans-serif;
}

/*Trending text*/
.trend {
    position:absolute;
    top: 51%;
    left: 23%;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1.67vw;
    font-family: "OpenSansLight", sans-serif;
}
.btn {
    position:absolute;
    top: 60%;
    left: 39%;
}
.btn a {
    color: whitesmoke;
    border: 0.3vw solid whitesmoke;
    padding: 1vw;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: "LatoBlack", sans-serif;
}
.btn a:hover {
    background-color: whitesmoke;
    color: rgba(34,37,51,0.8);
}
.title {
    margin: 3.5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1 {
    position: relative;
    text-align: center;
    font-size: 2vw;
    font-family: "OpenSansLight",sans-serif;
}

/*Lines on top and bottom of text*/
.title h1:after {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    top: -1.3vw;
    left: 30%;
    border: 1px solid rgb(220,0,0);
}
.title h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    bottom: -1.4vw;
    left: 30%;
    border: 1px solid rgb(220,0,0);
}

.planes .col-xs-12 {
    padding: 0;
}
/*Color overlay on image*/
.planes .col-xs-12 .color_overlay2{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(34,37,51,0.7);
     opacity: 0;
}
/*Name of plane*/
.planes .col-xs-12 .color_overlay2 p{
    position: absolute;
    bottom: 0;
    right: 2%;
    color: whitesmoke;
    font-size: 2.1em;
    font-family: "LatoBlack", sans-serif;
    text-decoration: none;
}
.planes .col-xs-12:hover .color_overlay2 {
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

/*About block*/
.about {
    background-color: rgb(34,37,51);
    color: whitesmoke;
    font-family: "LatoBold", sans-serif;
    margin-top: 3vw;
    padding: 2vw;
}
.about .row {
    margin: 0;
}
.about .col-sm-6 {
     font-size: 2vw;
 }
.about .hello p:first-child {
    font-size: 2.2vw;
    color: #36D7B7;
}
.about .col-sm-6 p a {
    text-decoration: none;
}

/*Footer*/
.footer {
    background-color: rgb(51,51,51);
    color: whitesmoke;
    font-size: 2vw;
    font-family: "OpenSans", sans-serif;
    padding: 2vw;
}
.footer .row {
    margin: 0;
}
.footer .col-xs-12 {
    text-align: center;
}
.footer .col-xs-12 a{
    text-decoration: none;

}
