* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato';
}
div {
    display: block;
    font-family:'Lato';
}

#wrapper {
    background: url(../images/cover.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 810px;
    max-height: 850px;
}

#nav {
    width: 100%;
    position: relative;
    height: 74px;
    right: 0px;
}

#nav #menu {
    list-style: none;
    position: absolute;
    right: 4%;
    height: 100%;
}

#nav #menu li {
    display: inline-block;
    padding: 30px;

}

#nav #menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: 0.1s all;
}

#nav #menu li:hover a {
    padding-bottom: 7px;
    border-bottom: 4px solid white;
}

#quotes {
    font-family: 'Lato';
    position: absolute;
    top: 45%;
    right: 7%;
    max-width: 475px;
    color: white;
}

#quotes #text {
    font-size: 25px;
    line-height: 1.5;
    overflow: hidden;
}

#quotes #author {
    font-size: 25px;
    position: relative;
    left: 70%;
    line-height: 3;
}

#main {
    min-height: 850px;
    max-height: 870px;
}

#title {
    font-size: 40px;
    position: relative;
    left: 40%;
    padding-top: 6%;
    min-width: 350px;
    max-width: 400px;
}

#planes {
    position: relative;
    max-width: 850px;
    min-width: 500px;
    display: table;
    
}


#planes #airbus {
    display: table-cell;
    position: relative;
    width: 260px;
    left: 55%;
    text-align: center;
}

#planes .img {
    border-radius: 50%;
    position: relative;
    left: 8%;
}

h1 {
    position: relative;
    left: 30%;
    line-height: 2.9;
    font-size: 32px;
    width: 150px;
}

p {
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 8%;
}

#bh1 {
    left: 30%;
}

#planes #boeing {
      display: table-cell;
    width: 260px;
    text-align: center;
    position: relative;
    left: 120%;
}

#planes #boeing #img {
    border-radius: 50%;
    position: relative;
    left: 8%;
}

#footer {
    height: 150px;
    background-color: #333;
    width: 100%;
}

#footer #copy {
    max-width: 550px;
    min-width: 100px;
    position: relative;
    left: 30%;
    top: 40%;
}

#footer #copy #maker {
    text-decoration: none;
    color: white;
    font-size: 22px;
    left: 1%;
    position: relative;
}

#footer #copy #maker:hover {
     padding-bottom: 5px;
     border-bottom: 3px solid white;   
    

}

#info {
     height: 200px;
    background-color: aqua;
}