/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MarckScriptRegular"; */
@font-face {
    font-family: "MarckScriptRegular";
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot");
    src: url("../fonts/MarckScriptRegular/MarckScriptRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.woff") format("woff"),
    url("../fonts/MarckScriptRegular/MarckScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
     font-family:'ProximaNovaRegular';
}

#wrapper {
    background: url(../images/cover2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 810px;
    max-height: 850px;
}

#nav {
    width: 100%;
    position: relative;
    height: 74px;
    top: 5px;

}

#nav #menu {
    list-style: none;
    position: absolute;
    left: 4%;
    height: 100%;
}

#nav #menu li {
    display: inline-block;
    padding: 30px;
    text-shadow: 0 0 5px rgba(0,0,0,1);

}

#nav #menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    transition: 0.1s all;
}

#nav #menu li:hover a {
    padding-bottom: 7px;
    border-bottom: 4px solid white;
}

#quotes {
    position: absolute;
    top: 45%;
    right: 7%;
    max-width: 475px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);

}

#quotes #text {
    font-size: 25px;
    line-height: 1.5;
    overflow: hidden;
}

#quotes #author {
    font-size: 25px;
    position: relative;
    left: 72%;
    line-height: 3;
}

#main {
    min-height: 870px;
    max-height: 870px;
}

#title {
    font-size: 40px;
    position: relative;
    left: 43%;
    padding-top: 5%;
    min-width: 350px;
    max-width: 400px;
}

#planes {
    position: relative;
    max-width: 850px;
    min-width: 500px;
    display: table;
    
}

#planes #airbus {
    display: table-cell;
    position: relative;
    width: 260px;
    left: 65%;
    text-align: center;
}

#planes .img {
    border-radius: 50%;
    position: relative;
    left: 8%;
}

#bh1 {
    left: 30%;
}

#planes #boeing {
    display: table-cell;
    width: 260px;
    text-align: center;
    position: relative;
    left: 130%;
}

#planes #boeing #img {
    border-radius: 50%;
    left: 8%;
}

h1 {
    position: relative;
    left: 30%;
    line-height: 2.9;
    font-size: 32px;
    width: 150px;
}

p {
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 8%;
}

#info {
    height: 600px;
    background: url("../images/wing.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

}

#info #take {
    display: block;
    min-width: 100px;
    max-width: 450px;
    position: relative;
    top: 50%;
    left: 5%;
    font-family: MarckScriptRegular;
    text-shadow: 0 0 5px rgba(0,0,0,2);
    font-size: 45px;
    color: white;

}


#footer {
    height: 250px;
    background-color: #333;
    width: 100%;

}

#footer #copy {
    max-width: 550px;
    min-width: 100px;
    position: relative;
    left: 33%;
    top: 30%;
}

#footer #copy span {
    text-decoration: none;
    color: white;
    font-size: 22px;
   margin-left: 5px;
}

a {
    text-decoration: none;
}


#socials {
    position: relative;
    max-width: 450px;
    top: 40%;
    left: 36%;

}
#socials p {
    max-width: 400px;
}

#socials p img {
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}


#socials p #linkedin {
    margin: 0px 10px;
}
#socials p a img{
    opacity: 0.5;
}

#socials p a:hover img {
    opacity: 1;
    transition: 0.3s all;
}



