* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px){

    #logo {
        top: 12%;
    }

    #logo img {
        width: 100px;
        height: 70px;

    }

    #nav #menu li a {
        font-size: 80%;
    }

    #wrapper #title {
        font-size: 35px;
    }


    #main #planes .row .cell img {
        width: 80%;
        height: 50%;
    }

    #planes {
        height: 450px;
    }

    #planes .row .cell .front {
        min-width: 400px;
        height: 100%;
    }
    #footer {
        height: 200%;
    }


    #footer #copy {
        width: 200px;
    }

    #footer #socials p{
        width: 200px;
    }


}
