* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px){
    #nav #menu li a {
        font-size: 88%;
    }

    #main #planes .row .cell img {
        min-width: 80%;
        height: 50%;
    }

    #planes {
        height: 450px;
    }

    #planes .row .cell .front {
        min-width: 400px;
        height: 100%;

    }


}
